/* Tipografía */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf") format("truetype");
}

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #6836e1;
  --primario-light: #9b76eb;
  --primario-dark: #3b22cb;
  --secundario: #00e6ff;
  --secundario-light: #6effff;
  --secundario-dark: #00b2cc;
  --text: #333333;
  --text-light: #707070;
  --text-dark: #141414;
  --accent: #e16936;
  --accent-light: #ed8255;
  --accent-dark: #c55c2f;
  --link-white: #f5f5f5;
  --link-hover: #ffffff;
  /* Tipografía */
  --font-family: "Inter";
  --h1: 40px;
  --h2: 33px;
  --h3: 27px;
  --h4: 24px;
  --h5: 19px;
}

/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-dark);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

/****************************************
*    Componentes
*****************************************/
.header {
  display: flex;
  align-items: center;
  height: 11vh;
  background: var(--primario);
}

.header > * {
  flex: 1 100%; /* Propiedad flex para que cada flex item mida lo mismo */
  text-align: center;
}

.header > *:first-child {
  flex: 1 50%; /* Explícitamente indicamos que el primer flex item mide 50% */
}

.header img {
  transition: all 0.4s ease-out;
}

.header img:hover {
  opacity: 0.8;
}

.menu li {
  display: inline;
  padding: 0 1.5rem;
}

.menu li:last-of-type {
  font-variation-settings: "wght" 500, "slnt" -5;
}

/* 
la propiedad de font-variation-settings (dependiendo el typeface) los siguientes valores:
 - wght: equivalente a font weight
 - slnt: ángulo (similar a italic)
 - opsz: tamaño (se puede utilizar font-size) 
*/

.menu a {
  font-size: 17px;
  text-decoration: none;
  color: var(--link-white);
  transition: all 0.4s ease-out;
}

.menu a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

/****************************************
*    Helpers
*****************************************/
[dots] {
  outline: rgba(255, 0, 0, 0.75) dotted 2px;
}
