/* Tipografía */
@font-face {
  font-family: "Amstelvar";
  src: url("./assets/fonts/Amstelvar.ttf") format("truetype");
}

@import url("https://rsms.me/inter/inter.css");

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #6836e1;
  --primarioClaro: #9b76eb;
  --primarioFuerte: #3b22cb;
  --secundario: #00e6ff;
  --secundarioClaro: #6effff;
  --secundarioFuerte: #00b2cc;
  --negro: #333333;
  --negroClaro: #707070;
  --negroFuerte: #141414;
  --naranja: #e16936;
  --naranjaClaro: #ed8255;
  --naranjaFuerte: #c55c2f;
  --blancoClaro: #f5f5f5;
  --blanco: #ffffff;
  /* Intención de los colores */
  --textosColor: var(--negro);
  --headingsColor: var(--negro-fuerte);
  --backgroundColor: var(--blanco);
  --backgroundColorHeader: var(--primario);
  /* Estilos: elevacion, transiciones & utils */
  --boxShadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  --boxhsadowDisabled: 0 1px 1px rgba(0, 0, 0, 0.1);
  --transition: all 0.4s ease-in-out;
  --transition-modes: background 500ms ease-in-out, color 1000ms ease-in-out;
  --dots: var(--primario) dotted 2px;
  /* Tipografía */
  --headingFonts: "Inter";
  --bodyFonts: "Inter";
  font-size: 112.5%; /* Tipografía default de textos en 18px en lugar de 16px, 100% = 16px & 112.5% = 18px */
  --h1: 40px;
  --h2: 33px;
  --h3: 27px;
  --h4: 24px;
  --h5: 19px;
  /* Posición */
  --headerHeight: 11vh;
}

/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: var(--bodyFonts);
  color: var(--textosColor);
  background: var(--backgroundColor);
  transition: var(--transition-modes);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headingFonts);
  color: var(--headingsColor);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

a {
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  text-decoration: underline;
}

button {
  --buttonColor: var(--primarioFuerte);
  appearance: none;
  color: var(--blanco);
  background-color: var(--buttonColor);
  border: none;
  border-radius: 15px;
  padding: 9px 24px;
  box-shadow: var(--boxShadow);
  transition: var(--transition);
}

button:hover {
  background-color: var(--primarioClaro);
  box-shadow: none;
  transform: translate(0, -1px);
  cursor: pointer;
}

button.disabled {
  --buttonColor: var(--blancoClaro);
  color: var(--negroClaro);
  box-shadow: var(--boxShadowDisabled);
  transition: initial; /* reseteamos el  valor de transicion  en el boton disabled */
}

button.disabled:hover {
  background-color: var(--blancoClaro);
  transform: none;
  cursor: not-allowed;
}

/****************************************
*    Componentes
*****************************************/
.header {
  display: flex;
  align-items: center;
  height: var(--headerHeight);
  background: var(--backgroundColorHeader);
}

.header > * {
  flex: 1; /* Propiedad flex para que cada flex item mida lo mismo */
  text-align: center;
}

.header > *:first-child {
  flex: 0.6; /* Explícitamente indicamos que el primer flex item mide 60% */
}

.header img {
  margin: auto;
  transition: var(--transition);
}

.header img:hover {
  opacity: 0.8;
}

.menu li {
  display: inline;
  padding: 0 1.5rem;
}

.menu li:last-child a {
  font-weight: 500;
  font-style: italic;
}

/*
la propiedad de font-variation-settings (dependiendo el typeface) los siguientes valores:
 - wght: equivalente a font weight
 - slnt: ángulo (similar a italic)
 - opsz: tamaño (se puede utilizar font-size)
*/

.menu a {
  font-size: 17px;
  color: var(--blanco);
}

.menu a:hover {
  color: var(--blanco);
}

.main {
  position: relative; /* TODO quitar */
  height: calc(100vh - var(--headerHeight)); /* TODO quitar */
  width: 60ch;
  margin-left: auto;
  margin-right: auto;
}

.main__title {
  margin: 1ch 0;
  font-weight: 400;
}

.main__description {
  line-height: 1.7;
}

/* Temp */
.modos {
  position: absolute;
  width: 50%;
  transform: translate(50%);
  bottom: 40px;
}

.darkBtn {
  --buttonColor: var(--negroFuerte);
  transform: translate(50%);
}

.darkBtn:hover {
  background: #0000008f;
  transform: translate(50%);
}

.lightBtn {
  --buttonColor: var(--primarioClaro);
  transform: translate(-50%);
}

.lightBtn:hover {
  background: #895bf5;
  transform: translate(-50%);
}

/* Temas */
.light {
  --textosColor: var(--negro);
  --headingsColor: var(--negro-fuerte);
  --backgroundColor: var(--blanco);
  --backgroundColorHeader: var(--primario);
}

.dark {
  --headingFonts: "Amstelvar";
  --bodyFonts: "Amstelvar";
  --textosColor: var(--blanco);
  --headingsColor: var(--blanco);
  --backgroundColor: var(--negro);
  --backgroundColorHeader: var(--primarioFuerte);
}

/****************************************
*    Utilidades
*****************************************/
[outline] {
  outline: var(--dots);
}
