/* Variables Daniel */
:root {
  --primario: #0d0d0d;
  --secundario: #1b261a;
  --secundario2: #a5aca5;
  --secundario3: #c9cdc9;
  --terciario: #b14a46;
  --terciario2: #e5968b;
  --terciario3: #f2cbc5;
  --terciario4: #efdbda;
  --cuaternario: #d5c3aa;
  --cuaternario3: #fff6dc;
  --blanco: #ffffff;
  --font-family-headings: "Darker Grotesque", sans-serif;
  --font-family-body: "Source Sans Pro", sans-serif;
}

/* Base */
body {
  /* TODO */
}

/* Componentes */

/* Variables Elizabeth */
/* :root {
  --primario-1: #141414;
  --primario-2: #333333;
  --primario-3: #BFC0C0;
  --primario-4:#F0F0EF;
  --secundario-1: #3C0000;
  --secundario-2:#774936;
  --secundario-3:#D69F7E;
  --secundario-4:#F5D0C5;
  --brand-uno-1:#370617;
  --brand-uno-2:#6A040F;
  --brand-uno-3:#9D0208;
  --brand-uno-4:#D00000;
  --brand-dos-1:#1D3557;
  --brand-dos-2:#457B9D;
  --brand-dos-3:#77BBC8;
  --brand-dos-4:#BCE9EB;
  --brand-FOSFO-1:#00ff19;
  --font-family-body: "GBook";
  --font-family-headings: "BwBlack";
}*/
